.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.mobile-button-wide {
    flex: 1 1 30%;
    min-width: 80px;
    min-height: 60px;
    height: 15%;
    width: 100%;
    margin-bottom: 2cqw;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    background-color: #ffbaba;
    color: #000000;
    border-radius: 20px;
}

.mobile-button {
    flex: 1 1 30%;
    min-width: 80px;
    width: 100%;
    margin-right: 5px;
    min-height: 100;
    margin-bottom: 5px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    background-color: #badcff;
    color: #000000;
    border-radius: 20px;
    font-family:sans-serif
}

.mobile-button:active {
    background-color: #0056b3;
    color: #ffffff;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #000000;
    font-family:sans-serif
}

.mobile-button-wide:active {
    background-color: #b30000;
    color: #ffffff;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #000000;
    font-family:sans-serif
}

.inputRange {
    appearance: none;
    width: 85%;
    margin-left: 5%;
    height: 12px;
    border-radius: 9999px;
    background: linear-gradient(90deg, #e4e4e4 30%);
    cursor: pointer;
}

/* ツマミ：Chrome, Safari, Edge用 */
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    background: #00c7d5;
    box-shadow: none;
}